<h3><i class="fas fa-tasks"></i></i> Tasks</h3>
<div class="section">
  <p class="lead">Create public and/or private tasks</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn blue darken-1">
    <i class="fab fa-google left"></i>
    Log In With Google
  </a>
</div>